<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook" delay="5 seconds"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>%-48(%d{HH:mm:ss.SSS} [%.32thread]) %-5level %-36logger{36} [%file:%line] - %msg%n</Pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${ASYNC_LOG_LEVEL:-INFO}</level>
        </filter>
        <appender-ref ref="STDOUT" />
    </appender>

    <appender name="ASYNC_JSON" class="ch.qos.logback.classic.AsyncAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${JSON_LOG_LEVEL:-OFF}</level>
        </filter>
        <appender-ref ref="JSON" />
    </appender>


    <logger name="com.base22" level="TRACE"/>
    <logger name="slick" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="ASYNC" />
        <appender-ref ref="ASYNC_JSON" />
    </root>

</configuration>