<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
            </layout>
        </encoder>
    </appender>

    <logger name="ASYNC_LOGGER" level="INFO" additivity="false">
        <appender name="ASYNC" class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender">
            <appender class="net.logstash.logback.appender.LogstashTcpSocketAppender">
                <destination>nautilus.cryptonomic.tech:5044</destination>
                <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                    <customFields>{"appName":"conseil","appEnv":"dev"}</customFields>
                </encoder>
            </appender>
        </appender>
    </logger>

    <logger name="com.base22" level="TRACE"/>
    <logger name="de.flapdoodle.embed.process" level="OFF"/>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>