<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="ASYNC" class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender">
        <appender class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>localhost:5000</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>{"appName":"conseil","appEnv":"dev"}</customFields>
            </encoder>
        </appender>
    </appender>

    <logger name="com.base22" level="TRACE"/>
    <logger name="de.flapdoodle.embed.process" level="OFF"/>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

    <root level="debug">
        <appender-ref ref="ASYNC" />
    </root>
</configuration>