<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook" delay="5 seconds"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>%d{HH:mm:ss.SSS} %-53([%thread] %-5level) %-36logger{36} - %msg%n</Pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT" />
    </appender>

    <logger name="ASYNC_LOGGER" level="INFO" additivity="false">
        <appender name="ASYNC" class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender">
            <appender class="net.logstash.logback.appender.LogstashTcpSocketAppender">
                <destination>142.93.74.99:5000</destination>
                <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                    <customFields>{"appName":"conseil","appEnv":"dev"}</customFields>
                </encoder>
                <ssl>
                    <trustStore>
                        <location>classpath:/spinner2.jks</location>
                        <password>conseilpass</password>
                    </trustStore>
                </ssl>
            </appender>
        </appender>
    </logger>

    <logger name="com.base22" level="TRACE"/>
    <logger name="de.flapdoodle.embed.process" level="OFF"/>

    <root level="INFO">
        <appender-ref ref="ASYNC" />
    </root>

</configuration>