<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <root level="ERROR">
    </root>
    <!-- <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>%-48(%d{HH:mm:ss.SSS} [%.32thread]) %-5level %-36logger{36} - %msg%n</Pattern>
            </layout>
        </encoder>
    </appender>

    <logger name="com.base22" level="TRACE"/>

    <root level="OFF">
        <appender-ref ref="STDOUT" />
    </root> -->

    <!-- Uncomment to debug local tests. You need to set the root appender level from OFF to the appropriate value, too.
        <logger name="tech.cryptonomic.conseil.indexer.tezos.bigmaps.BigMapsOperations" level="${LORRE_BIG_MAPS_LOG_LEVEL:-DEBUG}"/>
        <logger name="tech.cryptonomic.conseil.indexer.tezos.michelson.contracts.TNSContracts" level="${LORRE_TNS_LOG_LEVEL:-INFO}"/>
    -->

</configuration>